* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: #f4f4f4;
  font-family: sans-serif;
}

button {
  background-color: #333;
  color: #f4f4f4;
  font-size: 1rem;
  padding: 0.4rem 1rem;
  border: 1px solid #f4f4f4;
  cursor: pointer;
}

button:not(:disabled):hover {
  background-color: #444;
}

main {
  display: flex;
  flex-direction: column;
  width: min(100%, 24rem);
  margin: 1rem auto;
}
