* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: #f4f4f4;
  font-family: sans-serif;
}

button {
  display: block;
  margin: 0 auto;
  background-color: #333;
  color: #f4f4f4;
  font-size: 1rem;
  padding: 0.4rem 1rem;
  border: 2px solid #f4f4f4;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}

main {
  width: min(100%, 40rem);
  margin: 1rem auto;
}

button.load {
  position: sticky;
  top: 2rem;
  z-index: 100;
}

.counter {
  margin: 3.5rem 0.5rem 1rem 0;
  font-size: 1.2rem;
  text-align: right;
}

.posts {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  margin-bottom: 3rem;
}

.posts article {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  line-height: 1.4;
  color: #111;
  padding: 1rem;
  border-radius: 0.4rem;
  transform: scale(0);
  opacity: 0;
  transition: 180ms all linear;
}

.posts article.visible {
  transform: scale(1);
  opacity: 1;
}

.posts article button {
  align-self: end;
  padding: 0.5rem 2rem;
  margin: 0;
}
